.nav1 {
   
    background-color: rgb(204, 184, 184);
    width: 100%;
    height: 50px;
}
.block1 {
    background-color: aliceblue;

}
.color {
    background-color: rgb(199, 233, 233);
 
}
#id {
    margin-top: 20px;
}
#width3 {
    width: 100%;
}
.row {
    margin-top: 20px;
}
#form {
    width: 100%;
}
.pad {
    padding: 20px 0px 15px 0px;

}